<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MTrak Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="webjars/ng-table/ng-table.min.css" rel="stylesheet" media="screen"/>
<!-- 		<link href="webjars/angular-chart.js/angular-chart.min.css" rel="stylesheet" media="screen"/> -->

		<script src="webjars/jquery/jquery.min.js"></script>
		<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
		<script src="webjars/angular/angular.min.js"></script>
		<script src="webjars/ng-table/ng-table.min.js"></script>
		<script src="webjars/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="webjars/ng-csv/ng-csv.min.js"></script>
		<script src="webjars/chartjs/Chart.js"></script>
		<script src="webjars/angular-chart.js/angular-chart.min.js"></script>
		<script src="iniconfig2.js" type="text/javascript"></script>
		
	<style type="text/css">
	.green{
		color: green;
		display: table-cell;
		}
	.ng-table th {
    text-align: left !important;
	}

label {
    display: inline-block !important;
    max-width: 100% !important;
    margin-bottom: 5px !important;
    font-weight: 100 !important;
}

	</style>	
		
	</head>

	<body ng-app="mtrak" style="padding-top: 80px;">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" style="padding-top: 5px;"><span style="padding-right: 5px;"><img style="height: 40px; width: auto;" alt="Brand" src="mTrak.ico"/></span>MTrak Application</a>
				</div>
			</div>
		</nav>
		<div class="container" ng-controller="sitesController">
			<div class="col-md-12">
				

			</div>
			<div id="content">
					<div id="table" class="col-md-12 tab-pane active" style="padding-top: 20px;">
						<table ng-table="logsTable" show-filter="true" class="table table-striped">
							<tr ng-repeat="log in data">
								<td data-title="'Type'" sortable="'type'">{{log.type}}</td>
								<td data-title="'Code'" sortable="'code'" filter="{ 'code': 'text' }">{{log.code}}</td>
								<td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">{{log.description}}</td>
								<td style="text-align: right">
								<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalHorizontal" ng-click="fetching(log)" title="copy"><span class="glyphicon  glyphicon-copy"></span></button>
								<button class="btn btn-info btn-sm" ng-click="edit(log)" title="edit"><span class="glyphicon glyphicon-edit"></span></button>
								<button class="btn btn-danger btn-sm" ng-click="deleteData(log)" title="delete"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
						</table>
					</div>
			</div>
			
			
			
			
			
<!-- Start Modal -->


<div data-backdrop="static" data-keyboard="false" class="modal fade col-md-12 bd-example-modal-lg" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
           <!--  <div class="modal-header">
				<h4>{{description}}</h4>
            </div> -->
            <!-- Modal Body -->
            <div class="modal-body">
				<form name="myForm" class="form-horizontal" role="form">
 				<div style="padding-top: 4px;">
										<div class="form-group">
											<label for="code" style="font-weight:10;" class="control-label col-sm-3">Code</label>
											<div class="col-sm-6">
													<input class="form-control" ng-model="code" name=code id="code" placeholder="Code" required/>
											</div>
										</div>
							 </div>
							 
							  <div>
										<div class="form-group">
										<label for="txtDescription" class="control-label col-sm-3">Description</label>
											<div class="col-sm-6">
													<input class="form-control" ng-model="description" id="txtDescription" placeholder="Description" />
											</div>
										</div>
							 </div>
							 
							 <div>
										<div class="form-group">
										<label for="txtType" class="control-label col-sm-3">Type</label>
											<div class="col-md-6 col-sm-6">
												<select id="departportlist" ng-model="type" class="include form-control">
													<option value="itrak">itrak</option>
													<option value="netcourier">netcourier</option>
												</select>
											</div>
										</div>
										
										
										
							 </div>
   <!-- end first tabs -->
    
    
    
    
    
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="SaveData()">Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
				
				
				</form>
				
            

            </div>
        </div>
    </div>
</div>



<!-- end Modal -->








	</div>
	
	
	
	
	
	
	
	
	
	
	</body>
</html>